<div class="ekart--product--container">
  <app-search (searchTextChanged)="onSearchTextChange($event)"></app-search>
  <product-list
    [searchText]="searchText"
    #productListComponent
    [ngStyle]="{
      zindex: productListComponent.selectedProduct ? '-1' : ''
    }"
  ></product-list>
  <product-details
    *ngIf="productListComponent.selectedProduct"
    [productListComp]="productListComponent"
  ></product-details>
  <div class="ekart-featured-products rounded">
    <div class="ekart-featured-product-Heading">
      <h2>Latest Arrival in Popular Brands</h2>
    </div>
    <featured-brands>
      <h3 class="title">New Arrivals in Nike</h3>
      <button class="call-to-action btn btn-primary">
        Show New Arrivals in Nike
      </button>
    </featured-brands>
    <featured-brands>
      <h3 class="title">New Arrivals in Adidas</h3>
      <button class="call-to-action btn btn-primary">
        Show New Arrivals in Adidas
      </button>
    </featured-brands>
    <featured-brands>
      <h3 class="title">New Arrivals in Rebook</h3>
      <button class="call-to-action btn btn-primary">
        Show New Arrivals in Rebook
      </button>
    </featured-brands>
  </div>
</div>
