<app-filter
  [all]="totalNumber"
  [inStock]="totalInStock"
  [outOfStock]="totalOutOfStock"
  (selectedFilterChange)="onFilter($event)"
></app-filter>

<div class="ekart--products--container">
  <!-- ng-container is used to create a virtual container to hold the products and it will not be rendered in the DOM -->
  <ng-container *ngFor="let p of filteredProducts; let i = index">
    <app-product
      [product]="p"
      [i]="i"
      #selectedProductRef
      (click)="onSelectProduct(p)"
    />
  </ng-container>
</div>
