<div class="ekart--search--product">
  <input
    class="ekart-search-product-input"
    [(ngModel)]="searchText"
    (input)="onSearchTextChange()"
  />
  <!--
    or
     <input class="ekart-search-product-input" [value]="searchText" (input)="updateSearchText($event)" />
   -->
  <button
    [ngClass]="{
      'btn-search': searchText,
      'btn ': true,
      'btn-search-disabled': !searchText,
    }"
  >
    Search
  </button>
</div>
<div class="ekart-search-result-for">
  <p *ngIf="searchText != ''">
    <strong>Search result for:</strong> {{ searchText }}
  </p>
</div>
